$a-color-light: #fff;
$secondaire: grey;
$principale: #123456;
$body-bg-color: lighten($secondaire,40%);
$nav-menu-top: $secondaire;
$aside-bg: lighten($principale,50%);
$content-color: #fff;
$h1-color-light: #fff;
$font: "Ubuntu";