@import "variableBleu";
//@import "variableOrange";

body {
	background-color: $body-bg-color;
	margin: 20px;
	font-family: $font;
}

header > nav > ul {
	list-style-type: none;
	margin: 0;
	position: relative;
}

header > nav > ul > li {
	width:20%;
	float: left;
	padding: 1rem;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
}

nav a {
	color: $a-color-light;
}

header > nav > ul::after {
	content: "";
	display: table;
	clear: both;
}

header > nav > ul::before {
	content: "";
	display: table;
}

header > nav > ul {
	background-color: $nav-menu-top;
}

article {
	width:70%;
	float: left;
}

aside {
	width:30%;
	float: left;
}

aside > main, article > main {
	background-color: $content-color;
}

main > p {
	padding: 1rem;
	margin: 0;
}

article > header {
	background-color: $principale;
}
aside > header {
	background-color: $aside-bg;
}

article > header > h1, aside > header > h1{
	color: #fff;
	padding: 1em;
	margin: 0;
}

#mobile::before {
	display: none;
	content: "Menu";
	background-color: $principale;
	padding: 1em;
	color: #fff;
	border: 1px solid $principale;
	border-radius: 5px;
}
#mobile::after {
	content: "";
	display: table;
	clear: both;
}

.ouvert {
	display: block;
}

@media screen and (max-width:800px){
	article, aside {
		width: 100%;
	}
}

@media screen and (max-width:640px){
	header > nav > ul > li {
		width: 100%;
	}
	header > nav > ul {
		display: none;
	}
	#mobile::before {
		display: table;
	}
}

